a:hover{
  color: #ff3f87;
}

pre{
  background: rgba(255, 192, 203, 0.23);
  border: #ff3f87 dashed 0.25rem;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

::-moz-selection {
    background: #ff3f87;
    color: white;
}

::selection {
    background: #ff3f87;
    color: white;
}